:root{
    --mycolor: #161313;
    --mycolor2: #E34D00;
    --whitecolor: #fff;
    --transparent-color: transparent;
    --black-color: black;
    --black-part2: #222;
    --placeholder-color: #726B68;
    --blackcolor-condition2: #1D1C1C;
    --content-color: #D1D1D1;
    --modifywhite-color: #1D1C1C;
    --pinkcolor: #ff2770;
}
*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
}
body{
    background: var(--mycolor);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    width: 85%;
    margin: auto;
    max-width: 1200px;
    z-index: 2;
}
.menu-part{
    padding-right: 55px;
    font-size: 20px;
}
.menu-content-part .dropdown{
    display: flex;
    gap: 30px;
}
.menu-content-part ul,li{
    list-style-type: none;
}
.menu-content-part ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    transition: all 0.5s;
}
.menu-content-part .home-menu{
    padding-bottom: 50px;
    overflow: hidden;
}
.menu-content-part>ul>li>a:hover{
    color: var(--mycolor2);
}
.home-menu{
    padding-bottom: 20px; 
}
.dropdown2{
    position: absolute;
    background: var(--black-part2);
    width: 200px;
    padding-left: 0;
    margin-top: 25px;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.home-menu2{
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--whitecolor);
    font-size: 17px;
    padding-left: 15px;
}
.home-menu3{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 17px;
    padding-left: 15px;
}
.dropdown2 a{
    text-decoration: none;
    padding-left: 20px;
    transform: translateX(0);
    transition: all 0.5s;
}
.dropdown2 .home-menu2{
    cursor: pointer;
}
.dropdown2 .home-menu2:hover a{
    transform: translateX(10px);
    color: var(--mycolor2);
}
.dropdown2 .home-menu3{
    cursor: pointer;
}
.dropdown2 .home-menu3:hover a{
    transform: translateX(10px);
    color: var(--mycolor2);
}
.menu-content-part ul .dropdown2-display:hover .dropdown2{
    display: block;
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.logo-part{
    margin-top: -50px;
}
.header-button-part{
    margin-top: -45px;
}
.header-button-part button{
    border: none;
    width: 193.67px;
    height: 59.39px;
    outline: 1px solid var(--mycolor2);
    border-radius: 30px;
    background: var(--transparent-color);
    color: var(--whitecolor);
    font-size: 19px;
    font-weight: bold;
    text-transform: capitalize;
    transition: all .5s;
    cursor: pointer;
}
.header-button-part button:hover{
    background: var(--mycolor2);
}
.section1-container{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    margin-top: 150px;
}
.section1-left p{
    color: var(--whitecolor);
    font-size: 20px;
}
.section1-left h1{
    color: var(--whitecolor);
    font-size: 62px;
    width: 400px;
    line-height: 1.4;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 50px;
}
.section1-left p{
    opacity: 1;
    animation: widhtanimate .5s linear;    
}
@keyframes widhtanimate {
    0%{
        margin-top: 50px;
        opacity: 0;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}

.section1-input-part form{
    animation: marginanimate .5s linear;
    opacity: 1;
}
@keyframes marginanimate{
    0%{
        margin-top: -100px;
        opacity: 0;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}
.section1-input-part form{
    display: flex;
    gap: 15px;
    align-items: center; 
}
.section1-input-part input{
    border: none;
    width: 300px;
    height: 60px;
    outline: 1px solid var(--mycolor2);
    border-radius: 30px;
    background: var(--transparent-color);
    padding-left: 30px;
    color: var(--whitecolor);
    font-size: 16px;
    font-weight: 600;
}
.section1-input-part input::placeholder{
    color: var(--placeholder-color);
    text-transform: capitalize;
}
.button-part2 button{
    width: 154px;
    margin-top: 39px;
    font-size: 16px;
    font-weight: bold;
}
.image1{
    position: relative;
}
.image1 >  img{
    width: 470px;
    z-index: 0;
}
.image2 img{
    position: absolute;
    top: 60px;
    right: -41px;
    width: 85px;
    z-index: -234;
    animation: animateimage 3s ease infinite;
}
@keyframes animateimage{
    0%{
        transform: scale(1) rotate(0deg);
        opacity: .5;
    }
    50%{
        transform: scale(1.3) rotate(-3deg);
        opacity: 1;
    }
    100%{
        transform: scale(1) rotate(0deg);
        opacity: .5;
    }
}
.circle1{
    width: 15px;
    height: 15px;
    background: var(--mycolor2);
    border-radius: 50%;
    position: absolute;
    top: 17px;
    right: 73px;
    animation: circleanimation 3s ease infinite;
}
@keyframes circleanimation {
    0%{
        transform: scale(1);
        opacity: .5;
    }
    50%{
        transform: scale(1.5);
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: .5;
    }
}
.circle2{
    width: 15px;
    height: 15px;
    background: var(--mycolor2);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 121px;
    animation: circleanimation 3s ease .8s infinite;
    opacity: .5;
}
.circle3{
    width: 15px;
    height: 15px;
    background: var(--mycolor2);
    border-radius: 50%;
    position: absolute;
    top: 250px;
    left: 0;
    animation: circleanimation 3s ease 1.4s infinite;
    opacity: .5;
}
.background-animation{
    position: absolute;
    width: 600px;
    height: 600px;
    left: calc(-50% + 55px);
    bottom: calc(-80% + 88px);
    background: var(--mycolor2);
    z-index: -282828;
    opacity: .5;
    filter: blur(140px);
    border-radius: 800px;
    animation: backgroundanimation 5s linear infinite alternate;
    margin-bottom: 170px;
}
@keyframes backgroundanimation{
    0% {
        left: calc(-50% + 55px);
        bottom: calc(-80% + 88px);
    }
    30% {
        left: calc(-30% + 55px);
    }
    60% {
        bottom: calc(-40% + 88px);
    }
    90% {
        left: calc(-60% + 55px);
    }
    100% {
        left: calc(-60% + 55px);
        bottom: calc(-30% + 88px);
    }
}
.section1-left{
    position: relative;
}
.section2{
    margin-top: 120px;
}
.section2-header-content{
    text-align: center;
    color: var(--whitecolor);
    width: 579px;
    margin: auto;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 50px;
}
.section2-card-part{
    width: 85%;
    display: flex;
    margin: auto;
    margin-bottom: 60px;
}
.section2-card1{
    width: 350px;
    height: 447px;
    background: var(--blackcolor-condition2);
    border-radius: 20px;
    margin: auto;
    position: relative;
}
.section2-image1{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 85px;
    height: 85px;
    overflow: hidden;
    transition: all 0.5s;
}
.section2-content{
    margin-top: 190px;
    margin-left: 50px;
    color: var(--whitecolor);
}
.section2-content h3{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s;
}
.section2-content h3:hover{
    color: var(--mycolor2);
}
.section2-content p{
    font-size: 17px;
    width: 260px;
    line-height: 1.5;
    color: var(--content-color);
    margin-bottom: 40px;
}
.section2-button{
    margin-left: 50px;
}
.section2-button button{
    background: var(--transparent-color);
    border: none;
    outline: none;
    color: var(--whitecolor);
    font-size: 16px;
    transition: all .5s;
    cursor: pointer;
}
.section2-button button:hover{
    color: var(--mycolor2);
}
.section3-image-part{
    width: 85%;
    height: 415px;
    margin: auto;
    background: url('assets/image8.webp') no-repeat center / cover;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.section3-image-part-icon{
    width: 80px;
    height: 80px;
    background: var(--mycolor2);
    color: var(--whitecolor);
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 20px;
    position: relative;
    z-index: 0;
    transition: all .5s;
}
.section3-image-part-icon:hover{
    background: var(--whitecolor);
    color: var(--mycolor2);
}
.section3-image-part-icon:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: var(--mycolor2);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 1;
    z-index: -1; 
    transition: all .5s;
}
.section3-image-part-icon:hover:before{
    background: var(--whitecolor);
}
.section3-image-part:hover .section3-image-part-icon::before{
    animation: b-zoon 1s linear infinite;
}
@keyframes b-zoon{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    25%{
        opacity: .8;
        transform: scale(1.2);
    }
    50%{
        opacity: .7;
        transform: scale(1.3);
    }
    75%{
        opacity: .5;
        transform: scale(1.4);
    }
    100%{
        opacity: 0;
        transform: scale(1.5);
    }
}
.section3-container{
    height: 300px;
}
.section3-other-information{
    position: relative;
    z-index: 0;
    width: 85%;
    margin: auto;
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.background-change-color{
    width: 100%;
    position: relative;
}
.background-change-color::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--modifywhite-color);
    width: 100%;
    height: 250%;
    z-index: -1;
}
.section3-other-information-1{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}
.section3-other-information-1 img{
    margin-right: 30px;
}
.section3-other-information-1-content{
    color: var(--whitecolor);
}
.section3-other-information-1-content h1{
    margin-bottom: 15px;
}
.section3-other-information-1-content span{
    color: var(--mycolor2);
}
.section4{
    width: 85%;
    margin: auto;
}
.section4-container{
    margin-top: 468px;
}
.section4-header-content{
    color: var(--whitecolor);
    text-align: center;
    width: 469px;
    margin: auto;
    line-height: 1.5;
    font-size: 20px;
    font-weight: bold;
}
.information-part{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}
.information-image img{
    width: 540px;
    border-radius: 20px;
}
.information-content-1{
    width: 462px;
    height: 85px;
    display: flex;
    color: var(--whitecolor);
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--mycolor2);
    cursor: pointer;
    transition: all 0.5s;
}
.information-content-1:hover{
    color: var(--mycolor2);
}
.information-content-1:hover a{
    color: var(--mycolor2);
}
.information-content-5{
    margin-bottom: 50px;
}
.information-content-1 a{
    text-decoration: none;
    color: var(--whitecolor);
    font-size: 25px;
    transition: all .5s;
}
.information-content-1 i{
    font-size: 20px;
}
.information-paragraph{
    color: var(--content-color);
    line-height: 1.6;
}
.information-paragraph p{
    width: 430px;
}
.section5{
    width: 85%;
    margin: auto;
}
.section5-container{
    margin-top: 130px;
}
.section5-header-content{
    color: var(--whitecolor);
    text-align: center;
}
.section5-header-content h1{
    width: 497px;
    margin: auto;
    font-weight: bold;
    font-size: 45px;
    line-height: 1.4;
}
.section5:hover .section5-header-content h1{
    animation: animate 1s linear 1;
}
@keyframes animate{
    0%{
        transform: translateY(60px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.section5-header-content p{
    width: 449px;
    margin: auto;
    line-height: 1.5;
    color: var(--content-color);
}
.section5:hover .section5-header-content p{
    animation: animationtype 1s linear 1;
}
@keyframes animationtype {
    0%{
        transform: translateY(-90px) ;
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.section5-card-part{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.section5-card1{
    width: 255px;
    height: 439px;
    padding-left: 50px;
    position: relative;
    z-index: 0;
}
.section5-card1 span{
    position: absolute;
    inset: -4px;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    background: var(--black-color);
    display: inline-block;
    z-index: -2;
    border-radius: 20px;
    overflow: hidden;
}
.section5-card1::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--modifywhite-color);
    z-index: -1;
    border-radius: 20px;
    overflow: hidden;
}
.section5-card1 span::after{
    content: '';
    position: absolute;
    left: -36%;
    top: -10%;
    width: 232px;
    height: 275px;
    background: linear-gradient(0deg, transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    animation: rotate 7s linear infinite;
    transform-origin: right bottom;
}
.section5-card2 span::after{
    content: '';
    background: linear-gradient(0deg, transparent,transparent,#ff2770,#ff2770,#ff2770);
}

.section5-card1 span::before{
    content: '';
    position: absolute;
    left: -36%;
    top: -10%;
    width: 232px;
    height: 275px;
    background: linear-gradient(0deg, transparent,transparent,var(--mycolor2),var(--mycolor2),var(--mycolor2));
    animation: rotate 7s linear infinite;
    animation-delay: -3.5s;
    transform-origin: right bottom;
}
.section5-card3 span::before{
    content: '';
    background: linear-gradient(0deg, transparent,transparent,var(--pinkcolor),var(--pinkcolor),var(--pinkcolor));
}
@keyframes rotate{
    0% {
    left: -44%;
    top: -10%;
    transform: translate(0, 0) rotateZ(0deg);
}
25% {
    left: -41%;
    top: -20%;
    transform: translate(-22px, 0) rotateZ(90deg);
}
50% {
    left: -36%;
    top: -10%;
    transform: translate(0, 20px) rotateZ(180deg);
}
75% {
    left: -36%;
    top: 0%;
    transform: translate(50px, 0) rotateZ(270deg);
}
100% {
    left: -44%;
    top: -10%;
    transform: translate(0, 0) rotateZ(360deg);
}
}
.section5-card1-image-part{
    padding-top: 50px;
}
.section5-card1-image-part img{
    width: 65px;
    height: 66px;
    transition: all .5s;
}
.section5-card1:hover .section5-card1-image-part img{
    width: 58px;
    height: 59px;
    transform: rotateZ(-6deg);
}
.section5-card1:hover .section5-card1-content a{
    margin-top: 7px;
}
.section5-card1-content a{
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    color: var(--whitecolor);
    padding-top: 50px;
    font-weight: bold;
    transition: all .5s;
}
.section5-card1-content a:hover{
    color: var(--mycolor2);
}
.section5-card1-content p{
    color: var(--content-color);
    padding-top: 20px;
    width: 156px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.button .btn{
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    color: var(--whitecolor);
    position: relative;
    z-index: 0;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
}
.button .btn::before{
    content: '';
    position: absolute;
    inset: 0 0;
    background: #333;
    border-radius: 15px;
    z-index: -1;
}
.button .btn::after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(45deg,#ff0000,#ff7300,#48ff00,#00ffd5,#002bff,#ff00c8,#ff0000);
    background-size: 600%;
    filter: blur(8px);
    z-index: -2;
    opacity: 0;
    transition: all .5s;
    border-radius: 10px;
}
.button .btn:hover:after{
    opacity: 1;
    animation: glow 20s linear infinite alternate;
}
@keyframes glow {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
.button .btn:active:before{
    background: var(--transparent-color);
}
.button .btn:active:after{
    opacity: 1;
    animation: glow 20s linear infinite alternate;
}
.button .btn:active{
    color: var(--black-color);
}