*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.pointer-events-none {
  pointer-events: none;
}

.invisible {
  visibility: hidden;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-left-56 {
  left: -14rem;
}

.-right-\[130px\] {
  right: -130px;
}

.-top-1 {
  top: -0.25rem;
}

.bottom-28 {
  bottom: 7rem;
}

.right-8 {
  right: 2rem;
}

.-z-10 {
  z-index: -10;
}

.-z-20 {
  z-index: -20;
}

.z-0 {
  z-index: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.-ml-12 {
  margin-left: -3rem;
}

.-ml-\[156px\] {
  margin-left: -156px;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-\[100px\] {
  margin-bottom: 100px;
}

.mb-\[150px\] {
  margin-bottom: 150px;
}

.mb-\[90px\] {
  margin-bottom: 90px;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-\[70px\] {
  margin-left: 70px;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-11 {
  margin-top: 2.75rem;
}

.mt-2\.5 {
  margin-top: 0.625rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-28 {
  margin-top: 7rem;
}

.mt-32 {
  margin-top: 8rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-\[-120px\] {
  margin-top: -120px;
}

.mt-\[100px\] {
  margin-top: 100px;
}

.mt-\[200px\] {
  margin-top: 200px;
}

.mt-\[30px\] {
  margin-top: 30px;
}

.mt-\[55px\] {
  margin-top: 55px;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-\[90px\] {
  margin-top: 90px;
}

.box-border {
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.h-20 {
  height: 5rem;
}

.h-\[103px\] {
  height: 103px;
}

.h-\[117px\] {
  height: 117px;
}

.h-\[14px\] {
  height: 14px;
}

.h-\[160px\] {
  height: 160px;
}

.h-\[230px\] {
  height: 230px;
}

.h-\[29px\] {
  height: 29px;
}

.h-\[323px\] {
  height: 323px;
}

.h-\[335px\] {
  height: 335px;
}

.h-\[33px\] {
  height: 33px;
}

.h-\[361px\] {
  height: 361px;
}

.h-\[388px\] {
  height: 388px;
}

.h-\[390px\] {
  height: 390px;
}

.h-\[408px\] {
  height: 408px;
}

.h-\[40px\] {
  height: 40px;
}

.h-\[42px\] {
  height: 42px;
}

.h-\[468px\] {
  height: 468px;
}

.h-\[502px\] {
  height: 502px;
}

.h-\[505px\] {
  height: 505px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[514px\] {
  height: 514px;
}

.h-\[58px\] {
  height: 58px;
}

.h-\[59px\] {
  height: 59px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[610px\] {
  height: 610px;
}

.h-\[622px\] {
  height: 622px;
}

.h-\[668px\] {
  height: 668px;
}

.h-\[66px\] {
  height: 66px;
}

.h-\[690px\] {
  height: 690px;
}

.h-\[810px\] {
  height: 810px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.w-20 {
  width: 5rem;
}

.w-4\/5 {
  width: 80%;
}

.w-\[1108px\] {
  width: 1108px;
}

.w-\[1110px\] {
  width: 1110px;
}

.w-\[1140px\] {
  width: 1140px;
}

.w-\[1170px\] {
  width: 1170px;
}

.w-\[1200px\] {
  width: 1200px;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[1287px\] {
  width: 1287px;
}

.w-\[14px\] {
  width: 14px;
}

.w-\[155px\] {
  width: 155px;
}

.w-\[214px\] {
  width: 214px;
}

.w-\[220px\] {
  width: 220px;
}

.w-\[230px\] {
  width: 230px;
}

.w-\[268px\] {
  width: 268px;
}

.w-\[269px\] {
  width: 269px;
}

.w-\[29px\] {
  width: 29px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[307px\] {
  width: 307px;
}

.w-\[345px\] {
  width: 345px;
}

.w-\[348px\] {
  width: 348px;
}

.w-\[350px\] {
  width: 350px;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[495px\] {
  width: 495px;
}

.w-\[499px\] {
  width: 499px;
}

.w-\[50\%\] {
  width: 50%;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[540px\] {
  width: 540px;
}

.w-\[585px\] {
  width: 585px;
}

.w-\[58px\] {
  width: 58px;
}

.w-\[596px\] {
  width: 596px;
}

.w-\[600px\] {
  width: 600px;
}

.w-\[60px\] {
  width: 60px;
}

.w-\[65px\] {
  width: 65px;
}

.w-\[673px\] {
  width: 673px;
}

.w-\[700px\] {
  width: 700px;
}

.w-\[80px\] {
  width: 80px;
}

.w-\[890px\] {
  width: 890px;
}

.w-\[95px\] {
  width: 95px;
}

.w-full {
  width: 100%;
}

.translate-y-10 {
  --tw-translate-y: 2.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes infinite_animation {
  0% {
    transform: translateY(-40px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40px);
  }
}

.animate-infinite_animation {
  animation: infinite_animation 4s ease infinite;
}

@keyframes infinite_animation2 {
  0% {
    transform: translateY(-40px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40px);
  }
}

.animate-infinite_animation2 {
  animation: infinite_animation2 3.5s ease infinite;
}

@keyframes infinite_loop {
  0% {
    transform: scale(1.4);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.animate-infinite_loop {
  animation: infinite_loop 5s linear infinite alternate;
}

@keyframes infinite_transform {
  0% {
    transform: translateX(0%);
  }

  5% {
    transform: translateX(0%);
  }

  15% {
    transform: translateX(-34%);
  }

  30% {
    transform: translateX(-34%);
  }

  44% {
    transform: translateX(-68%);
  }

  59% {
    transform: translateX(-68%);
  }

  75% {
    transform: translateX(-103.5%);
  }

  100% {
    transform: translateX(-103.5%);
  }
}

.animate-infinite_transform {
  animation: infinite_transform 15s linear infinite normal;
}

@keyframes infinite_transform2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-infinite_transform2 {
  animation: infinite_transform2 15s linear infinite;
}

@keyframes infinite_transform3 {
  0% {
    background: #805af5;
  }

  5% {
    background: #805af5;
  }

  15% {
    background: transparent;
  }

  30% {
    background: transparent;
  }

  44% {
    background: transparent;
  }

  59% {
    background: transparent;
  }

  75% {
    background: transparent;
  }

  100% {
    background: transparent;
  }
}

.animate-infinite_transform3 {
  animation: infinite_transform3 15s linear infinite;
}

@keyframes infinite_transform4 {
  0% {
    background: transparent;
  }

  5% {
    background: transparent;
  }

  15% {
    background: #805af5;
  }

  30% {
    background: #805af5;
  }

  44% {
    background: transparent;
  }

  59% {
    background: transparent;
  }

  75% {
    background: transparent;
  }

  100% {
    background: transparent;
  }
}

.animate-infinite_transform4 {
  animation: infinite_transform4 15s linear infinite;
}

@keyframes infinite_transform5 {
  0% {
    background: transparent;
  }

  5% {
    background: transparent;
  }

  15% {
    background: transparent;
  }

  30% {
    background: transparent;
  }

  44% {
    background: #805af5;
  }

  59% {
    background: #805af5;
  }

  75% {
    background: transparent;
  }

  100% {
    background: transparent;
  }
}

.animate-infinite_transform5 {
  animation: infinite_transform5 15s linear infinite;
}

@keyframes infinite_transform6 {
  0% {
    background: transparent;
  }

  5% {
    background: transparent;
  }

  15% {
    background: transparent;
  }

  30% {
    background: transparent;
  }

  44% {
    background: transparent;
  }

  59% {
    background: transparent;
  }

  75% {
    background: #805af5;
  }

  100% {
    background: #805af5;
  }
}

.animate-infinite_transform6 {
  animation: infinite_transform6 15s linear infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.flex-col {
  flex-direction: column;
}

.place-items-center {
  place-items: center;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-8 {
  gap: 2rem;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[40px\] {
  border-radius: 40px;
}

.rounded-\[800px\] {
  border-radius: 800px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-\[1px\] {
  border-width: 1px;
}

.border-b-\[1px\] {
  border-bottom-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-none {
  border-style: none;
}

.border-\[\#151213\] {
  --tw-border-opacity: 1;
  border-color: rgb(21 18 19 / var(--tw-border-opacity, 1));
}

.border-\[\#19151d\] {
  --tw-border-opacity: 1;
  border-color: rgb(25 21 29 / var(--tw-border-opacity, 1));
}

.border-\[\#444343\] {
  --tw-border-opacity: 1;
  border-color: rgb(68 67 67 / var(--tw-border-opacity, 1));
}

.border-\[\#494949\] {
  --tw-border-opacity: 1;
  border-color: rgb(73 73 73 / var(--tw-border-opacity, 1));
}

.border-\[\#88868680\] {
  border-color: #88868680;
}

.border-blue-10 {
  --tw-border-opacity: 1;
  border-color: rgb(128 90 245 / var(--tw-border-opacity, 1));
}

.border-color-b {
  border-color: #88868680;
}

.bg-\[\#1D1C1C\] {
  --tw-bg-opacity: 1;
  background-color: rgb(29 28 28 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1d1c1c\] {
  --tw-bg-opacity: 1;
  background-color: rgb(29 28 28 / var(--tw-bg-opacity, 1));
}

.bg-\[\#211A2A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(33 26 42 / var(--tw-bg-opacity, 1));
}

.bg-black-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(22 19 19 / var(--tw-bg-opacity, 1));
}

.bg-black-m {
  --tw-bg-opacity: 1;
  background-color: rgb(29 28 28 / var(--tw-bg-opacity, 1));
}

.bg-black-m2 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 34 34 / var(--tw-bg-opacity, 1));
}

.bg-blue-10 {
  --tw-bg-opacity: 1;
  background-color: rgb(128 90 245 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-\[\] {
  background-color: ;
}

.bg-\[\#161313\] {
  --tw-bg-opacity: 1;
  background-color: rgb(22 19 19 / var(--tw-bg-opacity, 1));
}

.bg-\[url\(\'\.\.\/assets\/image22\.png\'\)\] {
  background-image: url('../assets/image22.png');
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.p-10 {
  padding: 2.5rem;
}

.p-20 {
  padding: 5rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-\[30px\] {
  padding: 30px;
}

.p-\[45px\] {
  padding: 45px;
}

.p-\[60px\] {
  padding: 60px;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[28px\] {
  padding-left: 28px;
  padding-right: 28px;
}

.px-\[40px\] {
  padding-left: 40px;
  padding-right: 40px;
}

.py-\[17px\] {
  padding-top: 17px;
  padding-bottom: 17px;
}

.py-\[45px\] {
  padding-top: 45px;
  padding-bottom: 45px;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}

.pb-12 {
  padding-bottom: 3rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-\[55px\] {
  padding-bottom: 55px;
}

.pl-2\.5 {
  padding-left: 0.625rem;
}

.pl-5 {
  padding-left: 1.25rem;
}

.pr-\[15px\] {
  padding-right: 15px;
}

.pr-\[180px\] {
  padding-right: 180px;
}

.pr-\[55px\] {
  padding-right: 55px;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pt-\[45px\] {
  padding-top: 45px;
}

.pt-\[80px\] {
  padding-top: 80px;
}

.text-center {
  text-align: center;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[30px\] {
  font-size: 30px;
}

.text-\[42px\] {
  font-size: 42px;
}

.text-\[70px\] {
  font-size: 70px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-medium {
  font-weight: 500;
}

.capitalize {
  text-transform: capitalize;
}

.leading-\[1\.4\] {
  line-height: 1.4;
}

.leading-\[1\.6\] {
  line-height: 1.6;
}

.leading-\[90px\] {
  line-height: 90px;
}

.text-\[\#169091\] {
  --tw-text-opacity: 1;
  color: rgb(22 144 145 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-blue-10 {
  --tw-text-opacity: 1;
  color: rgb(128 90 245 / var(--tw-text-opacity, 1));
}

.text-content {
  --tw-text-opacity: 1;
  color: rgb(187 186 186 / var(--tw-text-opacity, 1));
}

.text-content-color2 {
  --tw-text-opacity: 1;
  color: rgb(209 209 209 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.opacity-0 {
  opacity: 0;
}

.opacity-\[\.4\] {
  opacity: .4;
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur-\[130px\] {
  --tw-blur: blur(130px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.text-outline{
  -webkit-text-stroke: 2px #805af5;
  -webkit-text-fill-color: transparent;
}

.text-animate{
  color: #D1D1D1;
  display: block;
  font-size: 17px;
  margin-top: 13px;
  font-weight: 500;
  transition: all 500ms;
}

.text-animate:hover{
  color: #805AF5;
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:inset-0::before {
  content: var(--tw-content);
  inset: 0px;
}

.before\:bottom-\[-218px\]::before {
  content: var(--tw-content);
  bottom: -218px;
}

.before\:left-0::before {
  content: var(--tw-content);
  left: 0px;
}

.before\:left-\[35\%\]::before {
  content: var(--tw-content);
  left: 35%;
}

.before\:left-\[600px\]::before {
  content: var(--tw-content);
  left: 600px;
}

.before\:right-0::before {
  content: var(--tw-content);
  right: 0px;
}

.before\:top-0::before {
  content: var(--tw-content);
  top: 0px;
}

.before\:-z-10::before {
  content: var(--tw-content);
  z-index: -10;
}

.before\:-z-20::before {
  content: var(--tw-content);
  z-index: -20;
}

.before\:h-\[20px\]::before {
  content: var(--tw-content);
  height: 20px;
}

.before\:h-\[420px\]::before {
  content: var(--tw-content);
  height: 420px;
}

.before\:h-full::before {
  content: var(--tw-content);
  height: 100%;
}

.before\:w-\[420px\]::before {
  content: var(--tw-content);
  width: 420px;
}

.before\:w-full::before {
  content: var(--tw-content);
  width: 100%;
}

.before\:-translate-x-1\/2::before {
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:-translate-y-10::before {
  content: var(--tw-content);
  --tw-translate-y: -2.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.before\:translate-x-40::before {
  content: var(--tw-content);
  --tw-translate-x: 10rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes infinite_circle_animation {
  0% {
    content: var(--tw-content);
    transform: scale(1.3) translate(-5%,-10%);
  }

  50% {
    content: var(--tw-content);
    transform: scale(1) translate(80px);
  }

  100% {
    content: var(--tw-content);
    transform: scale(1.3) translate(-5%,-10%);
  }
}

.before\:animate-infinite_circle-animation::before {
  content: var(--tw-content);
  animation: infinite_circle_animation 4s ease infinite;
}

@keyframes infinite_circle_animation {
  0% {
    content: var(--tw-content);
    transform: scale(1.3) translate(-5%,-10%);
  }

  50% {
    content: var(--tw-content);
    transform: scale(1) translate(80px);
  }

  100% {
    content: var(--tw-content);
    transform: scale(1.3) translate(-5%,-10%);
  }
}

.before\:animate-infinite_circle_animation2::before {
  content: var(--tw-content);
  animation: infinite_circle_animation 4s ease infinite;
}

.before\:rounded-2xl::before {
  content: var(--tw-content);
  border-radius: 1rem;
}

.before\:rounded-\[20px\]::before {
  content: var(--tw-content);
  border-radius: 20px;
}

.before\:rounded-\[40px\]::before {
  content: var(--tw-content);
  border-radius: 40px;
}

.before\:rounded-\[800px\]::before {
  content: var(--tw-content);
  border-radius: 800px;
}

.before\:rounded-full::before {
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:bg-\[\#161313\]::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(22 19 19 / var(--tw-bg-opacity, 1));
}

.before\:bg-\[\#402F6D\]::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(64 47 109 / var(--tw-bg-opacity, 1));
}

.before\:bg-black::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.before\:bg-blue-10::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(128 90 245 / var(--tw-bg-opacity, 1));
}

.before\:bg-\[url\(\'\.\.\/assets\/image3\.webp\'\)\]::before {
  content: var(--tw-content);
  background-image: url('../assets/image3.webp');
}

.before\:bg-\[url\(\'\.\.\/assets\/image4\.webp\'\)\]::before {
  content: var(--tw-content);
  background-image: url('../assets/image4.webp');
}

.before\:bg-\[url\(\'\.\.\/assets\/image5\.webp\'\)\]::before {
  content: var(--tw-content);
  background-image: url('../assets/image5.webp');
}

.before\:bg-cover::before {
  content: var(--tw-content);
  background-size: cover;
}

.before\:bg-center::before {
  content: var(--tw-content);
  background-position: center;
}

.before\:bg-no-repeat::before {
  content: var(--tw-content);
  background-repeat: no-repeat;
}

.before\:text-white::before {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.before\:opacity-10::before {
  content: var(--tw-content);
  opacity: 0.1;
}

.before\:opacity-100::before {
  content: var(--tw-content);
  opacity: 1;
}

.before\:opacity-40::before {
  content: var(--tw-content);
  opacity: 0.4;
}

.before\:opacity-70::before {
  content: var(--tw-content);
  opacity: 0.7;
}

.before\:opacity-\[\.37\]::before {
  content: var(--tw-content);
  opacity: .37;
}

.before\:opacity-\[\.3\]::before {
  content: var(--tw-content);
  opacity: .3;
}

.before\:blur-\[140px\]::before {
  content: var(--tw-content);
  --tw-blur: blur(140px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.before\:backdrop-blur-\[10\.7486\]::before {
  content: var(--tw-content);
  --tw-backdrop-blur: blur(10.7486);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.before\:backdrop-blur-\[10\.7486px\]::before {
  content: var(--tw-content);
  --tw-backdrop-blur: blur(10.7486px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.before\:transition-opacity::before {
  content: var(--tw-content);
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.before\:duration-300::before {
  content: var(--tw-content);
  transition-duration: 300ms;
}

.before\:content-\[\'\|\'\]::before {
  --tw-content: '|';
  content: var(--tw-content);
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:inset-0::after {
  content: var(--tw-content);
  inset: 0px;
}

.after\:-bottom-\[2px\]::after {
  content: var(--tw-content);
  bottom: -2px;
}

.after\:left-\[-30\%\]::after {
  content: var(--tw-content);
  left: -30%;
}

.after\:-z-10::after {
  content: var(--tw-content);
  z-index: -10;
}

.after\:ml-2\.5::after {
  content: var(--tw-content);
  margin-left: 0.625rem;
}

.after\:h-\[420px\]::after {
  content: var(--tw-content);
  height: 420px;
}

.after\:h-full::after {
  content: var(--tw-content);
  height: 100%;
}

.after\:w-\[420px\]::after {
  content: var(--tw-content);
  width: 420px;
}

.after\:w-full::after {
  content: var(--tw-content);
  width: 100%;
}

@keyframes infinite_circle_animation {
  0% {
    content: var(--tw-content);
    transform: scale(1.3) translate(-5%,-10%);
  }

  50% {
    content: var(--tw-content);
    transform: scale(1) translate(80px);
  }

  100% {
    content: var(--tw-content);
    transform: scale(1.3) translate(-5%,-10%);
  }
}

.after\:animate-infinite_circle_animation2::after {
  content: var(--tw-content);
  animation: infinite_circle_animation 4s ease infinite;
}

@keyframes infinite_watterflow {
  0% {
    content: var(--tw-content);
    transform: scale(1);
    opacity: 1;
  }

  100% {
    content: var(--tw-content);
    transform: scale(1.3);
    opacity: 0;
  }
}

.after\:animate-infinite_watterflow::after {
  content: var(--tw-content);
  animation: infinite_watterflow 2s ease infinite;
}

.after\:rounded-\[40px\]::after {
  content: var(--tw-content);
  border-radius: 40px;
}

.after\:rounded-\[800px\]::after {
  content: var(--tw-content);
  border-radius: 800px;
}

.after\:rounded-full::after {
  content: var(--tw-content);
  border-radius: 9999px;
}

.after\:bg-black::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.after\:bg-blue-10::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(128 90 245 / var(--tw-bg-opacity, 1));
}

.after\:bg-\[\#161313\]::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(22 19 19 / var(--tw-bg-opacity, 1));
}

.after\:bg-\[\]::after {
  content: var(--tw-content);
  background-color: ;
}

.after\:bg-\[\%bg-black-10\]::after {
  content: var(--tw-content);
  background-color: %bg-black-10;
}

.after\:text-base::after {
  content: var(--tw-content);
  font-size: 1rem;
  line-height: 1.5rem;
}

.after\:font-medium::after {
  content: var(--tw-content);
  font-weight: 500;
}

.after\:text-content-color2::after {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(209 209 209 / var(--tw-text-opacity, 1));
}

.after\:opacity-0::after {
  content: var(--tw-content);
  opacity: 0;
}

.after\:opacity-40::after {
  content: var(--tw-content);
  opacity: 0.4;
}

.after\:opacity-\[\.2\]::after {
  content: var(--tw-content);
  opacity: .2;
}

.after\:blur-\[140px\]::after {
  content: var(--tw-content);
  --tw-blur: blur(140px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.after\:duration-300::after {
  content: var(--tw-content);
  transition-duration: 300ms;
}

.after\:content-\[\'\/Month\.\'\]::after {
  --tw-content: '/Month.';
  content: var(--tw-content);
}

.checked\:animate-none:checked {
  animation: none;
}

.checked\:bg-blue-10:checked {
  --tw-bg-opacity: 1;
  background-color: rgb(128 90 245 / var(--tw-bg-opacity, 1));
}

.hover\:pointer-events-auto:hover {
  pointer-events: auto;
}

.hover\:visible:hover {
  visibility: visible;
}

.hover\:translate-y-0:hover {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-\[1px\]:hover {
  border-width: 1px;
}

.hover\:border-solid:hover {
  border-style: solid;
}

.hover\:border-blue-10:hover {
  --tw-border-opacity: 1;
  border-color: rgb(128 90 245 / var(--tw-border-opacity, 1));
}

.hover\:bg-blue-10:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(128 90 245 / var(--tw-bg-opacity, 1));
}

.hover\:bg-transparent:hover {
  background-color: transparent;
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.hover\:text-blue-10:hover {
  --tw-text-opacity: 1;
  color: rgb(128 90 245 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:opacity-100:hover {
  opacity: 1;
}

.hover\:before\:opacity-0:hover::before {
  content: var(--tw-content);
  opacity: 0;
}

.hover\:before\:opacity-100:hover::before {
  content: var(--tw-content);
  opacity: 1;
}

.after\:hover\:bg-white:hover::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.hover\:after\:opacity-100:hover::after {
  content: var(--tw-content);
  opacity: 1;
}

.focus\:animate-none:focus {
  animation: none;
}

.group\/hover_effect_footer_card:hover .group-hover\/hover_effect_footer_card\:h-\[56px\] {
  height: 56px;
}

.group\/hover_effect_footer_card:hover .group-hover\/hover_effect_footer_card\:w-\[55px\] {
  width: 55px;
}

.group\/items1:hover .group-hover\/items1\:translate-x-3 {
  --tw-translate-x: 0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group\/items2:hover .group-hover\/items2\:translate-x-3 {
  --tw-translate-x: 0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group\/hover_effect_footer_card:hover .group-hover\/hover_effect_footer_card\:rotate-\[-6deg\] {
  --tw-rotate: -6deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes text_animate1 {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.group\/hover_section:hover .group-hover\/hover_section\:animate-text_animate1 {
  animation: text_animate1 .5s linear 1;
}

@keyframes text_animate2 {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.group\/hover_section:hover .group-hover\/hover_section\:animate-text_animate2 {
  animation: text_animate2 .5s linear 1;
}

@keyframes text_animate1 {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.group\/text-animation:hover .group-hover\/text-animation\:animate-text_animate1 {
  animation: text_animate1 .5s linear 1;
}

@keyframes text_animate2 {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.group\/text-animation:hover .group-hover\/text-animation\:animate-text_animate2 {
  animation: text_animate2 .5s linear 1;
}

.group\/items1:hover .group-hover\/items1\:text-blue-10 {
  --tw-text-opacity: 1;
  color: rgb(128 90 245 / var(--tw-text-opacity, 1));
}

.group\/items2:hover .group-hover\/items2\:text-blue-10 {
  --tw-text-opacity: 1;
  color: rgb(128 90 245 / var(--tw-text-opacity, 1));
}

.group\/animation-paused:hover .group-hover\/animation-paused\:animation-paused{
  animation-play-state: paused;
}

.group\/hover_animation:hover .group-hover\/hover_animation\:after\:bg-white::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.peer\/ul-design2:hover ~ .peer-hover\/ul-design2\:pointer-events-auto {
  pointer-events: auto;
}

.peer\/ul-design3:hover ~ .peer-hover\/ul-design3\:pointer-events-auto {
  pointer-events: auto;
}

.peer\/ul-design4:hover ~ .peer-hover\/ul-design4\:pointer-events-auto {
  pointer-events: auto;
}

.peer\/ul-design:hover ~ .peer-hover\/ul-design\:pointer-events-auto {
  pointer-events: auto;
}

.peer\/ul-design2:hover ~ .peer-hover\/ul-design2\:visible {
  visibility: visible;
}

.peer\/ul-design3:hover ~ .peer-hover\/ul-design3\:visible {
  visibility: visible;
}

.peer\/ul-design4:hover ~ .peer-hover\/ul-design4\:visible {
  visibility: visible;
}

.peer\/ul-design:hover ~ .peer-hover\/ul-design\:visible {
  visibility: visible;
}

.peer\/ul-design2:hover ~ .peer-hover\/ul-design2\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer\/ul-design3:hover ~ .peer-hover\/ul-design3\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer\/ul-design4:hover ~ .peer-hover\/ul-design4\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer\/ul-design:hover ~ .peer-hover\/ul-design\:translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.peer\/other_hover:hover ~ .peer-hover\/other_hover\:text-blue-10 {
  --tw-text-opacity: 1;
  color: rgb(128 90 245 / var(--tw-text-opacity, 1));
}

.peer\/ul-design2:hover ~ .peer-hover\/ul-design2\:opacity-100 {
  opacity: 1;
}

.peer\/ul-design3:hover ~ .peer-hover\/ul-design3\:opacity-100 {
  opacity: 1;
}

.peer\/ul-design4:hover ~ .peer-hover\/ul-design4\:opacity-100 {
  opacity: 1;
}

.peer\/ul-design:hover ~ .peer-hover\/ul-design\:opacity-100 {
  opacity: 1;
}